@using Microsoft.AspNetCore.Razor.Language

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phonebook</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

</head>
<body class="bg-light">

    <div class="container" style="padding-top: 40px; padding-bottom: 10px">
        <div class="row">

        </div>

        <div class="row ">

            <div class="col-md-3 offset-md-2">
                <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Person",new {page=1,lastName=""},null)">
                    <i class="fa fa-address-book" style="font-size: 30px"> Phonebook</i>
                </a>
            </div>

            <div class="col-md-2 style="height: 50px">
                <a class="btn btn-outline-success" href="@Url.Action("Add", "Person")">
                    <i class="fa fa-plus-square" style="font-size: 30px"> Add</i>
                </a>
            </div>

            <div class="col-md-3" style="height: 50px;">


                <form asp-controller="Person" asp-action="Index" asp-antiforgery="true" method="post">
                    <div class="row">

                        <div class="col-md-8" style="height: 50px; width: 100%;">
                            <input type="text" placeholder="   Search for Last Name" name="lastName" style="height: 50px; text-align:center" />
                        </div>
                        
                        <input type="hidden" name="page" value="1"/>

                        <div class="col-md-4" background-color: darkorange">    
                            <button class="btn btn-outline-info" style="height: 50px; width: 100%;" type="submit">
                                <i class="fa fa-arrow-right" style="font-size: 30px"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-10 offset-md-1 bg-light">
                @RenderBody()
            </div>

        </div>
    </div>



</body>
</html>
